{erl_opts, [debug_info]}.
{deps, [
  {cuttlefish, {git, "https://github.com/xio/cuttlefish", {tag, "develop"}}},
  {clique, {git,"https://github.com/xio/clique", []}},
  {minirest, {git,"https://github.com/xio/minirest", {tag,"emqx42"}}},
  {kvs, {git, "https://github.com/synrc/kvs", {tag, "7.9.1"}}},
  {rocksdb, {git, "https://github.com/enterprizing/rocksdb", []}},
  {emqx, {git, "https://github.com/xio/emqx", {branch, "v4.2"}}},
  {emqx_dashboard, {git, "https://github.com/xio/emqx-dashboard", {branch, "v4.2"}}},
  {emqx_management, {git, "https://github.com/xio/emqx-management", {branch, "v4.2"}}}
]}.
